

<div style="margin:5%">
  <table mat-table [dataSource]="clients" class="mat-elevation-z8">

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let client">
        <a mat-button [routerLink]="client.userName">
          {{client.userName}}
        </a>
      </td>
      <td mat-footer-cell *matFooterCellDef>Add client:</td>
    </ng-container>
    <ng-container matColumnDef="disableButton">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button (click)="refresh()"><mat-icon>refresh</mat-icon></button>
      </th>
      <td mat-cell *matCellDef="let client">
        <button mat-icon-button (click)="disableClient(client.userName,!client.disabled)">
          <mat-icon> {{client.disabled?"block":"check"}}</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-icon-button routerLink="new">
          <mat-icon>add_circle</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns;"></tr>

  </table>

