

<div style="margin:5%">
  <mat-table [dataSource]="clients" class="mat-elevation-z8">

    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
      <mat-cell *matCellDef="let client">
        <a mat-button [routerLink]="client.userName">
          {{client.userName}}
        </a>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>Add client:</mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="disableButton">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button (click)="refresh()"><mat-icon>refresh</mat-icon></button>
      </mat-header-cell>
      <mat-cell *matCellDef="let client">
        <button mat-icon-button (click)="disableClient(client.userName,!client.disabled)">
          <mat-icon> {{client.disabled?"block":"check"}}</mat-icon>
        </button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>
        <button mat-icon-button routerLink="new">
          <mat-icon>add_circle</mat-icon>
        </button>
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="displayedColumns;"></mat-footer-row>

  </mat-table>

</div>
