.dynsec-roles-container {
  height: 100%;
  
}

.dynsec-roles-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.dynsec-roles-sidenav {
  padding: 20px;
}
