<form class="role-form">

  <div class="role-form-row">
    <div class="role-row-left"></div>
    <div class="role-row-center"></div>

    <button mat-icon-button
            class="role-row-right"
            matTooltip="Save"
            (click)="saveRole()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button
            class="role-row-right"
            [disabled]="mode=='new'"
            [disabledInteractive]="mode=='new'"
            (click)="deleteRole()"
            matTooltip="Delete">
      <mat-icon>delete</mat-icon>
    </button>

  </div>

  <div class="role-form-row">
    <mat-form-field class="role-row-left">
      <mat-label>Role name</mat-label>
      <input matInput readonly name="roleName" [(ngModel)]="role.roleName">
    </mat-form-field>

    <div class="role-row-center"></div>
    <div class="role-row-right"></div>
  </div>

  <mat-form-field>
    <mat-label>Full name</mat-label>
    <input matInput placeholder="Add full name for the role" name="textName" [(ngModel)]="role.textName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput placeholder="Add role description" name="textDesc" [(ngModel)]="role.textDescription">
  </mat-form-field>

  <div style="height:3em"></div>

  <dynsec-acl-list name="aclControl"
                   [(selectedValues)]="selectedAcls"></dynsec-acl-list>
</form>
