<form class="client-form">

  <div class="client-form-row">
    <mat-form-field class="client-row-left">
      <mat-label>User name</mat-label>
      <input matInput [readonly]="mode=='edit'" name="clientUsername" [(ngModel)]="client.userName">
    </mat-form-field>
    <mat-form-field class="client-row-left">
      <mat-label>Password</mat-label>
      <input type="password" matInput name="clientPassword" [(ngModel)]="client.password">
    </mat-form-field>
    <div class="client-row-center"></div>
    <mat-slide-toggle class="client-row-right"
                      name="enabled"
                      [checked]="(!client.disabled) || (mode=='new')"
                      [disabled]="mode=='new'"
                      (click)="toggleUserState()">
      Enabled
    </mat-slide-toggle>
  </div>

  <mat-form-field>
    <mat-label>Full name</mat-label>
    <input matInput placeholder="Add full name for the client" name="textName" [(ngModel)]="client.textName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput placeholder="Add client description" name="textDesc" [(ngModel)]="client.textDescription">
  </mat-form-field>


  <div style="height:3em"></div>


  <div class="client-form-row">
    <div class="client-row-left">
      <dynsec-priority-list [(selectedValues)]="selectedRoles" [allValues]="allRoles" name="Role" />
    </div>

    <div class="client-row-center"></div>
    <div class="client-row-right">
      <dynsec-priority-list [(selectedValues)]="selectedGroups" [allValues]="allGroups" name="Group" />
    </div>
  </div>

  <div style="height:5em"></div>

  <div class="client-form-row">
    <div class="client-row-left"></div>
    <div class="client-row-center"></div>
    <button class="client-row-right" mat-flat-button color="primary" (click)="saveClient()">Save</button>
  </div>
</form>
