<form class="client-form">


  <div class="client-form-row">
    <mat-form-field class="client-row-left">
      <mat-label>User name</mat-label>
      <input matInput readonly name="clientUsername" [(ngModel)]="client.userName">
    </mat-form-field>
    <mat-form-field class="client-row-left">
      <mat-label>Password</mat-label>
      <input type="password" matInput name="clientPassword" [(ngModel)]="client.password">
    </mat-form-field>
    <div class="client-row-center"></div>
    <mat-slide-toggle class="client-row-right" name="enabled" [checked]="!client.disabled" (click)="toggleUserState()">Enabled</mat-slide-toggle>
  </div>

  <mat-form-field>
    <mat-label>Full name</mat-label>
    <input matInput placeholder="Add full name for the client" name="textName" [(ngModel)]="client.textName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput placeholder="Add client description" name="textDesc" [(ngModel)]="client.textDescription">
  </mat-form-field>

  <div style="height:3em"></div>

  <div class="client-form-row">
    <div class="client-row-left">

      <div class="client-form-row">

        <mat-form-field class="client-row-left">
          <mat-label>Role</mat-label>
          <mat-select>
            @for (role of allRoles; track role) {
            <mat-option [value]="role">{{role}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="client-row-left client-role-priority">
          <mat-label>Priority</mat-label>
          <input matInput placeholder="Priority" name="priority" [(ngModel)]="newRolePriority">
        </mat-form-field>

        <div class="client-row-center"></div>
        <div class="client-row-right">
          <button mat-icon-button><mat-icon>add_circle</mat-icon></button>
        </div>
      </div>
    </div>

    <div class="client-row-center"></div>
    <div class="client-row-right">
      <div class="client-form-row">

        <mat-form-field class="client-row-left">
          <mat-label>Group</mat-label>
          <mat-select>
            @for (group of allGroups; track group) {
            <mat-option [value]="group">{{group}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="client-row-left client-role-priority">
          <mat-label>Priority</mat-label>
          <input matInput placeholder="Priority" name="priority" [(ngModel)]="newGroupPriority">
        </mat-form-field>

        <div class="client-row-center"></div>
        <div class="client-row-right">
          <button mat-icon-button><mat-icon>add_circle</mat-icon></button>
        </div>
      </div>
    </div>
  </div>
</form>
