

<div>
  <mat-table [dataSource]="selectedValues()" class="mat-elevation-z8">

    <ng-container matColumnDef="permission">
      <mat-header-cell *matHeaderCellDef>Permission</mat-header-cell>
      <mat-cell *matCellDef="let acl">{{acl.aclType}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="topic">
      <mat-header-cell *matHeaderCellDef>Topic</mat-header-cell>
      <mat-cell *matCellDef="let acl">{{acl.topic}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="allow">
      <mat-header-cell *matHeaderCellDef>Allowed</mat-header-cell>
      <mat-cell *matCellDef="let acl">
        <mat-icon>{{acl.allow?"check":"block"}}</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="priority">
      <mat-header-cell mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let acl">
        {{acl.priority}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell mat-cell *matCellDef="let role">
        <button mat-icon-button><mat-icon>remove_circle</mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
