.dynsec-groups-container {
  height: 100%;
}

.dynsec-groups-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.dynsec-groups-sidenav {
  padding: 20px;
}
