:host {
    background: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
    border: 1px solid var(--mat-sys-outline-variant);
    font: var(--mat-sys-body-large);
}

.dynsec-navbar {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);  
  margin-top: -24px;
  width: 100%;
  float: inline-start;
}

.right-align {
  float: right;
  display: flex;

}
.left-align {
  float: left;
  display: inline;
}
