:host {
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  border: 1px solid var(--mat-sys-outline-variant);
  font: var(--mat-sys-body-large);
  display: block;  
}

.dynsec-navbar {
  background-color: var(--mat-sys-primary-container);
}

.navbar-flex-container {
  display: flex;
}


.left-align {
  justify-self: start;
}

.center-block {
  flex: 1;
}

.right-align {
  justify-self: end;
}
