

<div style="margin:5%; background: blue;">
  <mat-table [dataSource]="roles" class="mat-elevation-z8">

    <ng-container matColumnDef="roleName">
      <mat-header-cell mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
      <mat-cell *matCellDef="let role">
        <a mat-button [routerLink]="role.roleName">
          {{role.roleName}}
        </a>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>
        Add role:
      </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button (click)="refresh()"><mat-icon>refresh</mat-icon></button>
      </mat-header-cell>
      <mat-cell *matCellDef="let role">
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>
        <button mat-icon-button routerLink="new">
          <mat-icon>add_circle</mat-icon>
        </button>
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="displayedColumns;"></mat-footer-row>

  </mat-table>

</div>
