

<div style="margin:5%">
  <table mat-table [dataSource]="clients" class="mat-elevation-z8">

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let client"> {{client.userName}} </td>
    </ng-container>
    <ng-container matColumnDef="disableButton">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let client">
        <button mat-icon-button><mat-icon> {{client.disabled?"block":"check"}}</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
