.dynsec-clients-container {
height:100%;
}

.dynsec-clients-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.dynsec-clients-sidenav {
  padding: 20px;
}
